.laptop-container {
    display:flex;
    /* max-width: 1500px; */
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    margin: 50px;
}

.laptop {
    flex-grow: 3;
    flex-shrink: 3;
}

.scrapper {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 20px;
}