<div class="navbar navbar-expand-xl navbar-dark bg-slate-700 navbar-component" style="z-index: 27;">
  <div class="navbar-brand">
      <img src="../assets/global_assets/images/panda.png" alt="">
  </div>

  <div class="d-xl-none">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-navigation">
          <i class="icon-menu"></i>
      </button>
  </div>

  <div class="navbar-collapse collapse" id="navbar-navigation">
      <ul class="navbar-nav">
          <li class="nav-item"><a href="/home" class="navbar-nav-link active">Home</a></li>
          <li class="nav-item"><a href="/laptop" class="navbar-nav-link">Laptops</a></li>
      </ul>
  </div>

  <ul class="nav navbar-nav ml-xl-auto">
      <li class="nav-item"><a href="#" class="navbar-nav-link">About</a></li>
      <!-- <li class="nav-item"><a href="#" class="navbar-nav-link">Logout</a></li> -->
  </ul>
</div>