<div class="navbar navbar-expand-sm navbar-dark bg-slate-700 navbar-component" style="z-index: 27;">
  <div class="navbar-brand">
      <img src="../assets/global_assets/images/panda.png" alt="">
  </div>

  <div class="d-xl-none">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#toggle">
          <i class="icon-menu"></i>
      </button>
  </div>

  <div class="navbar-collapse collapse" id="toggle">
      <ul class="navbar-nav">
          <li class="nav-item"><a href="/home" class="navbar-nav-link active">Home</a></li>
          <li class="nav-item"><a href="/laptop" class="navbar-nav-link">Laptops</a></li>
          <li *ngIf='checkResult()' class="nav-item"><a href="/result" class="navbar-nav-link">Result</a></li>
      </ul>
      <ul class="nav navbar-nav ml-xl-auto">
        <li class="nav-item"><a href="/about" class="navbar-nav-link">About</a></li>
    </ul>
  </div>
</div>
