.laptop {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    flex-grow: 3;
    flex-shrink: 3;
}

.result {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.result-title {
    font-size: 2em;
    font-family: 'Advent Pro', sans-serif;
    color: rgb(58, 58, 58);
    margin-bottom: 50px;
}

.advent-pro-font {
    font-family: 'Advent Pro', sans-serif;
    color: rgb(58, 58, 58);
}

.laptop-price {
    display: flex;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.ml-method {
   
    flex-grow:1;
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
}

.predicted-price {
    flex-grow:3;
    font-size: 4em;
    /* margin-left: 40px; */
    padding-left: 55px;
}

.rmse {
    flex-grow:2;
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
    font: italic;
}

.tip-logo {
    flex-grow: 1;
    width: 20%;
}

.tip-text {
    flex-grow: 4;
    width: 80%;
}

.mt-9 {
    margin-top: 80px;
}

hr {
    width: 50%;
}