.home-container {
    max-width: 1000px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    margin-top: 50px;
}

mat-form-field {
    width: 42%;
    margin: 15px;
}

button {
    width: 100px;
}

.laptop-form {
    margin-top: 80px;
    margin-bottom: 50px;
}

.select-width {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.confirm-button {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 50px;
}

.mat-success {
    background-color: #4CAF50;
    color: #fff;
}